* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.TieuDe {
    text-align: center;
    background-color: brown;
    padding: 10px;
    color: cornsilk;
    font-family: serif;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 3px 10px black;
}


.TieuDe2 {
    box-shadow: 3px 3px 10px black;
    background-color: rgb(202, 90, 90);
    margin-top: 80px;
    border-radius: 5px;
    margin-bottom: 25px;
    font-family: serif;
    text-align: center;
    color: cornsilk;
} 

table, th, td {
    margin-top: 50px;
    border: 1px solid black;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}

.BangDki {
    height: 45vh;
    padding: 0;
    overflow: auto;
}

.NutDangKi {
    box-shadow: 3px 3px 10px black;
    text-align: right;
    background-color: rgb(221, 87, 87);
    margin-top: 30px;
}

.NutDangKi button {
    font-size: 15px;
    margin: 20px 15px;
    color: black;
    font-family: serif;
    border-radius: 5px;
    padding: 3px;
}

.DaDangKi {
    margin: 20px 0 0 10px;
}

.footer {
    background-color: brown;
    box-shadow: 3px 3px 10px black;
    border-radius: 5px;
}

.TieuDe3 {
    color: cornsilk;
    font-family: serif;
    padding: 10px 10px 0 10px;
}

.footer-right {
    font-size: 13px;
    padding: 10px 10px 0 10px;
    height: 30px;
    font-weight: bold;
    border-radius: 5px;
}

.footer-right a{
   display:flexbox;   
   color: blanchedalmond;       
   padding: 0 18px;
}
.footer-right a:hover{
    color:orange;    
    text-decoration: none;
}


