* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ct h3 {
    background-color: brown;
    color: cornsilk;
    border-radius: 0 0 5px 5px;
    padding: 5px;
}

header {
    background-color: brown;
    border-radius: 0 0 10px 10px;
    box-shadow: 3px 3px 10px black;
    color: cornsilk;
    padding: 5px;
    margin-bottom: 40px;
}

.contact p {
    font-size: 19px;
    margin-bottom: 35px;
    padding-left: 10px;
}

h1 {
    border-bottom: 1px solid #ccc;
}

#icon {
    border-top: 1px solid #ccc;  
    text-align: center;
    
}

#icon a {
    color: #DAA520;
    text-decoration: none;
    font-size: 30px;
    margin: 0 5px;  
}

iframe {
    width: 90%;
    height: 250px;
}


#icon .icon-show h3 {
    margin-top: 50px;
    background-color: brown;
    color: #fff;
    margin-bottom: 20px;
}

.icon-show i {
    width: 50px;

}

#footer {
    background-color: brown;
    color: cornsilk;
    margin-top: 20px;
    text-align: center;
}

#footer a{
    color: #fff;
    text-decoration: underline;
    font-size: 18px;
}